{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}

    {# Présentation Job #}
    <section >
        <div class="container">
            <div class="row">
                <div class="col-12"><h1>{{ job.name|lower|capitalize }}</h1></div>
                <div class="col-6">
                    <div class="card infos-pratiques" >
                        <div class="card-body">
                            <h5 class="card-title">Informations pratiques</h5>
                            {{ job.horaires|raw }}
                            {{ job.infosPratique|raw }}
                            <address>Adresse : {{ job.adresse }} {{ job.codePostal }} {{ job.ville }}</address>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h2>Description</h2>
                    {{ job.description|raw }}
                </div>
            </div>
        </div>
    </section>

    {# Types produits #}
    <section>
        <div class="container">
            <div class="row">

            </div>
        </div>

    </section>

    {# Horaires - Infos pratiques - Map / 2 colonnes#}
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card coordonnes" >
                        <div class="card-body">
                            <h5 class="card-title">Coordonnées</h5>
                            {{ job.coordonnees|raw }}
                        </div>
                    </div>

                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </section>

    {# Gallerie #}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6"></div>
                <div class="col-12 col-md-6">
                    <div class="col-12">
                        <h3>Gallerie</h3>
                    </div>
                    <div class="row carousel-images">
                        {% for img in job.carouselImages %}
                            <div class="col-12 hover03 hover14 column">
                                <a class="item "  href="{{ vich_uploader_asset(img, 'imageFile') }}" data-lightbox="roadtrip" data-sub-html="#caption{{ loop.index }}">
                                    <figure>
                                        <img src="{{ vich_uploader_asset(img, 'imageFile') }}" class="img-fluid rounded-3">
                                    </figure>
                                </a>

                                {#                         <div id="caption{{ loop.index }}" style="display:none">
                            <h4>{{ img.title }}</h4>
                            <p>{{ img.description }}</p>
                        </div>
                                #}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
